<!DOCTYPE html>
{% load static %}

<html>
    <head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1" name="viewport" />
      <link rel="stylesheet" type="text/css" href="{% static 'vendors\css\normalize.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'vendors\css\grid.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'resources\css\style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'resources\css\queries.css' %}">
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

            <title>Image Sources</title>
        </head>
        <body>
            <header  class="header-main">
              <nav class="sticky">
                  <div class="row">
                    <ul class="name-nav">
                    <li><a href="{% url 'home' %}">Roland Casset</a></li>
                  </ul>
                      <ul class="main-nav">
                          <li><a href="{% static 'Resume.pdf' %}">Resume</a></li>
                          <li><a href="https://www.linkedin.com/in/roland-casset-8834a21b3/">LinkedIn</a></li>
                          <li><a href="{% url 'allprojects' %}">Personal Projects</a></li>
                          <li><a href="javascript:void(0);" class="icon" onclick="myFunction()"></li>
                            <i class="fa fa-bars"></i>
                          </a></li>
                      </ul>
                    </div>

                      <div class="topnav" id="myTopnav">
                        <ul class="mobile-nav">
                            <li><a href="{% static 'Resume.pdf' %}">Resume</a></li>
                            <li><a href="https://www.linkedin.com/in/roland-casset-8834a21b3/">LinkedIn</a></li>
                            <li><a href="{% url 'allprojects' %}">Personal Projects</a></li>
                      </ul>
                    </div>

              </nav>
            <div class="hero-text-box">
              <br />
              <br />
              <br />
                <h1>Welcome to Image Sources</h1>
                <h3 style="text-transform: none;">This section details the numerous websites i used for images on my website</h3>
            </div>


            </header>
<section>
<div class="container">
  <br />
  <h2>Image Sources</h2>
  <br />

  <div class="py-5 bg-light">
  {% for imgsource in imgsources.all %}
    <div class="container-projects">
    <div class="projects-anim">
      <img class="imgsource-imgs" src="{{imgsource.image.url}}"/>
  <br />
    </div>
  <p class="long-copy-projects" >{{ imgsource.body }}</p>
    </div>
    <br />
  {% endfor %}
</div>
</div>
</section>

<footer>
  <div class="row">
    <div class="col span-1-of-2">
      <ul class="footer-nav">
        <li><a href="{% url 'home' %}" >Home</a></li>
        <li><a href="{% static 'Resume.pdf' %}" >Resume</a></li>
        <li><a href="https://www.linkedin.com/in/roland-casset-8834a21b3/">LinkedIn</a></li>
        <li><a href="{% url 'allprojects' %}">Personal Projects</a></li>
        <li><a href="{% url 'imgSources' %}" class="active">Image Sources</a><li>
      </ul>
    </div>
    <div class="col span-1-of-2">
      <ul class="social-links">
        <li><a href="https://www.facebook.com/joshua.casset/"><ion-icon name="logo-facebook" class="facebook"></ion-icon></a></li>
        <li><a href="https://twitter.com/CassetRoland"><ion-icon name="logo-twitter" class="twitter"></ion-icon></a></li>
        <li><a href="https://www.instagram.com/joshua_casset/"><ion-icon name="logo-instagram" class="instagram"></ion-icon></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <p >
      Copyright &copy; 2020 by Roland Casset. All rights reserved.
    </p>
  </div>
</footer>
<script src="{% static 'resources\js\script.js' %}"></script>
<script src="{% static 'vendors\js\jquery.waypoints.min.js' %}"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/respond@0.9.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/html5shiv@3/dist/html5shiv.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/selectivizr@1/selectivizr.min.js"></script>
</body>
</html>
