<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors\css\normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'vendors\css\grid.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'resources\css\style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'resources\css\queries.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet" type="text/css">

        <title>Roland Casset</title>
    </head>
    <body>
        <header class="header-main">
        <nav>
            <div class="row">
              <a class=" active name-nav" href="{% url 'home' %}">Roland Casset</a>
                <ul class="main-nav">
                    <li><a href="{% static 'Resume.pdf' %}">Resume</a></li>
                    <li><a href="https://www.linkedin.com/in/roland-casset-8834a21b3/">LinkedIn</a></li>
                    <li><a href="{% url 'allprojects' %}">Personal Projects</a></li>
                </ul>
            </div>
        </nav>
            <div class="hero-text-box">
                <h1>Hello</h1>
                <p>Marianne or husbands if at stronger ye. Considered is as middletons uncommonly. Promotion perfectly ye consisted so. His chatty dining for effect ladies active. Equally journey wishing not several behaved chapter she two sir. Deficient procuring favourite extensive you two. Yet diminution she impossible understood age.</p>
                <br />
                <a class="btn btn-full" href="mailto:joshua5750@gmail.com">Email Me</a>

            </div>

        </header>


        <section class="section-jobs">
          <div class="row">
            <h2>courses enrolled in</h2>
          </div>

          <div class="album py-5 bg-light">
              <div class="container-jobs">
                  <div class="row-jobs">
                     {% for job in jobs.all %}
                      <div class="col-md-4">
                        <div class="job-photo">
                          <div class="card mb-4 shadow-sm">
                              <img class="card-img-top img-size" src="{{job.image.url}}"/>
                              <div class="card-body">
                                  <p class="card-title">{{job.title}}</p>
                                  <p class="card-text">{{job.summary}}</p>
                              </div>
                          </div>
                        </div>
                      </div>
                     {% endfor %}
                  </div>
              </div>
          </div>

        </section>

        <section class="section-completed-jobs">
          <div class="row">
            <h2>courses completed</h2>
          </div>

          <div class="album py-5 bg-light">
              <div class="container-jobs">
                  <div class="row-jobs">
                     {% for completedjob in completedjobs.all %}
                      <div class="col-md-4">
                        <div class="job-photo">
                          <div class="card mb-4 shadow-sm">
                              <img class="card-img-top img-size" src="{{completedjob.image.url}}"/>
                              <div class="card-body">
                                  <p class="card-title">{{completedjob.title}}</p>
                                  <p class="card-text">{{completedjob.summary}}</p>
                              </div>
                          </div>
                        </div>
                      </div>
                     {% endfor %}
                  </div>
              </div>
          </div>

        </section>

        <footer>
          <div class="row">
            <div class="col span-1-of-2">
              <ul class="footer-nav">
                <li><a href="{% url 'home' %}" >Home</a></li>
                <li><a href="{% static 'Resume.pdf' %}">Resume</a></li>
                <li><a href="https://www.linkedin.com/in/roland-casset-8834a21b3/">LinkedIn</a></li>
                <li><a href="{% url 'allprojects' %}">Personal Projects</a></li>
              </ul>
            </div>
            <div class="col span-1-of-2">
              <ul class="social-links">
                <li><a href="#"><ion-icon name="logo-facebook" class="facebook"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-twitter" class="twitter"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="logo-instagram" class="instagram"></ion-icon></a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <p >
               &copy; CopyRight Roland Casset {% now "Y" %}
            </p>
          </div>
        </footer>

        <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    </body>















</html>
